//font
$base-spacing: 10px;
$base-font: 'Verdana, sans-serif';
$font-normal: 15px;
$base-line-height: 1.5;

$header-height: 60px;

// Breakpoints
$screen-small: 768px;
$screen-medium: 992px;
$screen-large: 1200px;
